<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product List</title>
	</head>
	<body>
        <h1> RETRO RECORDS </h1>
    <ul class="navigation">
        <li class="navbar">
            <a class="productlink" href="/products/">Products</a>
            <a class="productlink" href="/products/new">Add New Product</a>
        </li>

    </ul>
		<h1>New Product Page</h1>
		<form class="form" action="/products" method="POST">
			Name: <input type="text" name="name" /><br />
			Description: <input type="text" name="description" /><br />
			Quantity: <input type="text" name="qty" /><br />
            Price: <input type="text" name="price" /><br />
            Image Link: <input type="text" name="img" /><br />
			<input class="submit" type="submit" name="" value="Add Product" />
		</form>
    
	</body>
</html>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Pathway+Gothic+One&display=swap');
    
    
    
        body {
            margin: auto;
            background-color: black;
        }
        .navigation {
        background-color: black;
        border-bottom: 1px solid #c75692;
        border-top: 1px solid #c75692;
        text-align: center;
        list-style: none;
        padding: 0px;
       

    }

    .navbar {
        padding: 18px;
        
    }

    .productlink {
        list-style: none;
        vertical-align: baseline;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        color: white;
        font-family:'Montserrat', sans-serif;
        padding: 0px 20px 0px 20px;
        
    }
    
    
        h1 {
            color: white;
            font-family: 'Pathway Gothic One', sans-serif;
            padding: 0px 0px 0px 20px;
    
        }
    

        .form {
            color: white;
            padding: 0px 0px 0px 20px;
            font-family:'Montserrat', sans-serif;
        }

        .submit {
            width: 130px;
            height: 40px;
            border-color: #1f2024;
            border-width: medium;
            border-style: solid;
            border-radius: 50px;
            background-color: #1f2024;
            color: white;
            margin: 20px 0px 0px 0px;
        }

        .submit:hover {
            background-color: #27272b;
            cursor: pointer;
        }

        .submit:active {
            background-color: #27272b;
            transform: translateY(2px);
}
    
    
    
    </style>